<% provide(:title, "About") %>
<h1>About</h1>
<p>I always felt like the task of creating your cover letter for any government of Canada job was a very tedious job.</p>
<p>
  I believe that most have a system similar to mine... You try your best to backup your previous sumissions in case there is 
  something useful in there that you can re-use in your future job applications. When that time comes, you can't figure out in which
  document you answered a question that is somewhat similar to the one you're filling out. Then what happens? 
  You have to fill it out all over again... Boring, boring, boring.
</p>
<h2>I created this small app to make my life easier.</h2>
<p>By creating an online place with everything I answered in previous applications and built something to make it easier for 
myself to retrieve the information I need when applying for a new job within the government.</p>
<p>If this appeals to you, I invite it to use it as well.</p>
<p><strong>Cheers, and good luck with your government of Canada application!</strong></p>
<p>Alexandre Voyer</p>