<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you want to contact me about this web application feel free to reach me at alexandre.voyer at outlook.com (I'm hoping that spam bots won't catch this!).
</p>