<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Once you create an account (and confirm its email address) and log in for the first time the home 
  page will turn into your personnal page.
</p>
<h2>This is where the magic happens</h2>
<p>
  There and then, you can click the "Add New Item" button which will let you add a new item. Since not everything in a cover letter
  is is the "question / answer" format I've kept the wording general by using "Title" and "Content". 
</p>
<p>
  Simply fill those two fields and click the "Save" button.
</p>
<h2>This is cool but how to I search?</h2>
<p>
  Once you have one item or more, a search bar will appear on your homepage. Type a word that was in either your title or content and
  see before your eyes your results show up.
</p>
<h2>Copy and paste keyboard shortcut</h2>
<p>
  Simply select the paragraph you wish to copy and press <kbd><kbd>Ctrl</kbd> + <kbd>C</kbd></kbd> (<kbd><kbd>Cmd</kbd> + <kbd>C</kbd></kbd> on Mac) to copy and <kbd><kbd>Ctrl</kbd> + <kbd>V</kbd></kbd> (<kbd><kbd>Cmd</kbd> + <kbd>V</kbd></kbd> on Mac) to paste onto your document. Tada!
</p>