<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Once you create an account (and confirm its email address) and log in for the first time you will see that the home 
  page turns into your personnal page.
</p>
<h2>This is where the magic happens</h2>
<p>
  There and then, you might click the "Add a new entry" button which will let you add a new entry. Since not everything in a cover letter
  is is the "question / answer" format I've kept the wording more general but using "Title" and "Content". 
</p>
<p>
  Simply fill those two fields and click the "Save" button.
</p>
<h2>But how to I search?</h2>
<p>
  Once you have one entry or more, a search bar will appear on your homepage. Type a word that was in either your title or content and
  see before your eyes your results show up.
</p>
<h2>Cut and paste shortcut</h2>
<p>
  Whenever you click on one of your entries, the content will be automatically copied and ready to be pasted in your cover letter. Tada!
</p>