// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ol.items { margin-top: 20px; margin-bottom: 0; }
ol.items span.title {
  font-weight: bold;
  font-size: 1.2em;
  display: block;
}

ol.items span.content {
  display: block;
}